{{#posts}}

  <h1>{{title}}</h1>

  <h6>@{{username}}</h6>
  <h6>{{country}}</h6>

  <div class="button_right">
    <form action="/like/{{id}}" enctype="multipart/form-data" method="POST">
      <input id="save" type="submit" value="liken" />
    </form>
  </div>

  <div class="image_caption">
    <img class="blog_img" src="/uploads/{{image}}" alt="{{caption}}" />
    {{caption}}
  </div>

  <p class="contents_p">{{contents}}</p>

{{/posts}}